<!DOCTYPE html>
<html>
<head>
    <title>Accounts List</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 50px;
        }

        .container {
            width: 80%;
            margin: auto;
            background-color: white;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            background-color: #4CAF50;
            color: white;
            padding: 10px;
            border-radius: 5px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        th, td {
            padding: 10px;
            border: 1px solid #ddd;
        }

        th {
            background-color: #4CAF50;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }
<<<<<<< HEAD

        a {
            text-decoration: none;
            color: #4CAF50;
        }

        a:hover {
            text-decoration: underline;
        }
=======
>>>>>>> 75d1beb3889e8c257e120e7e6992029d79369087
    </style>
</head>
<body>
<div class="container">
    <h1>Accounts List</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Balance</th>
            <th>Round Up</th>
        </tr>
        </thead>
        <tbody>
        {{#each accounts}}
            <tr>
                <td>{{id}}</td>
<<<<<<< HEAD
                <td><a href="/bank/{{id}}">{{name}}</a></td> <!-- Link to the user details page -->
=======
                <td>{{name}}</td>
>>>>>>> 75d1beb3889e8c257e120e7e6992029d79369087
                <td>£{{balance}}</td>
                <td>{{roundup}}</td>
            </tr>
        {{/each}}
        </tbody>
    </table>
</div>
</body>
</html>
